__pycache__/
*.py[cod]
*.swp
dist/
sdist/
env/
build/
develop-eggs/
eggs/
*.egg-info/
.installed.cfg
*.egg
testing/
MANIFEST
.idea
pip-log.txt
pip-delete-this-directory.txt
packaging/*.deb
packaging/*.dsc
packaging/*.upload
packaging/*.changes
packaging/*.build
packaging/*.xz
.vscode/
.tox
.coverage
